.blogPage{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    &--new {
        text-align: left;
        color: white;
    }
    &--box{
        display: flex;
        justify-content: space-between;
        text-align: left;
        margin-top: 4px;
        color: rgb(70, 68, 68);
        margin-top: 50px;
        &:hover{
            color: #2997FF !important;
        }
        &--left{
            width: 20%;
            img{
                max-width: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
        }
        &--right{
            width: 80%;
            padding-left: 4px;
          
            &--title{
                margin:  0;
                font-size: 20px;
                font-weight: 500;
            }
            &--time{
                color: #ccc !important;
            }
        }
    }
}
@media screen and (max-width: 480px) { 
    .blogPage--box--left{
        width: 50%;
    }
    &--right{
        width: 50%;
        padding-left: 4px;
      
        &--title{
            font-size: 14px !important;
            font-weight: 600;

        }
        &--time{
            color: #ccc !important;
        }
    }
}